* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid red;
}

html {
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

nav ul li a {
    color: white;
}

header {
    background-color: #FF6900;
    height: 50px;
}

.container {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    list-style-type: none;
    color: white;
    gap: 10px;
}
header div img {
    height: 30px;
    margin-top: 10px;
}

main {
    margin: 0 auto;
    width: 80%;
}

.cards {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.images {
    position: relative;
    display: inline; 
}

.model {
    height: 500px;
}

.items-heart {
    position: absolute;
    right: 0;
    top: 20px;
    padding: 20px;
    background-color: white;
    font-size: 30px;
}

.items-number {
    position: absolute;
    left: 0;
    bottom: 90px;
    background-color: red;
    padding: 5px; 
    color: white;
}

.items-word {
    position: absolute;
    left: 60px;
    bottom: 90px;
    background-color: #008000;
    padding: 5px; 
    color: white;
}

.text {
    text-transform: uppercase;
}

.discount {
    color: red;
}

.price {
    text-decoration: line-through;
}

.items-word-2 {
    position: absolute;
    left: 0;
    bottom: 90px;
    background-color: #008000;
    padding: 5px; 
    color: white;
}

footer {
    background-color: #1A1A1A;
    margin-top: 30px;
    color: white;
}